.sign-in-box-white-form 
{
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: transparent;

}




.sign-in-big-word {
  font-size: 24px;
  font-weight: 500;
}

.sign-in-enter-texts {
  font-size:14px;
  font-weight: 400;
}
.sign-up-enter-login-text{
  color: #0A65CC;
  padding-left: 4px;
  font-size: 16px;
  font-weight: 500;
}

.sign-in-forget-password {
  text-align: end;
  color: #098023;
  font-weight: 400;
  font-size: 16px;
}



.sign-in-no-account {
  display: flex;
  flex-direction: column;
  font-size: 0.78rem;
  color: #8d8d8d;
  font-weight: 400;
}

.sign-in-no-account-second {
  color: #098023;
}

.sign-up-user-name-conatiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}
@media (max-width: 768px) {
  .sign-up-box-white-form{
    width: 100%;
    padding: 15px;
    height: 300px;
  }

}