@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600");

.sign-in-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  font-family: "Poppins", sans-serif;
}

.sign-in-up-container {
  display: flex;
  flex-direction: row;
  background-color: #0089ed;
  flex: 1;
  padding-inline: 4.563rem;
}

.sign-down-conatiner {
  display: flex;
  flex-direction: column;
  background-color: white;
  flex: 1;
}

.sign-in-text-section-Sign-in-to {
  font-size: 2.125rem;
  font-weight: 600;
  color: white;
}

.sign-in-text-lorem {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

.sign-in-paragraph {
  font-size: 0.813rem;
  font-weight: 300;
  color: white;
  width: 19.438rem;
  padding-top: 1.375rem;
  line-height: 1.219rem;
}

.sign-in-up-right-container {
  height: 24.063rem;
  width: 24.063rem;
  padding-top: 0;
}
.sign-in-up-right-container-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.sign-in-up-left-container {
  padding-top: 9.375rem;
}

@media (max-width: 768px) {
  .sign-in-up-container {
    flex-direction: column;
    background-color: #0089ed;
    padding-inline: 1rem;
  }

  .sign-in-up-right-container,
  .sign-in-up-left-container {
    width: 100%;
    padding-top: 1rem;
  }

  .sign-in-paragraph {
    width: 100%;
  }
  .sign-down-conatiner {
    display: none;
  }
}
.sign-in-main-forum-container {
  position: absolute;
  z-index: 2;

  display: flex;
  top: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;

  right: 9.5rem;
}
.sign-in-box-white-form {
  display: flex;
  flex-direction: column;
  width: 28.688rem;
  padding: 2.5rem;
  background-color: white;

  border-radius: 2.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sign-in-welcome-lorem {
  color: #0089ed;
  font-weight: 600;
  font-size: 1.313rem;
}

.sign-in-form-welcome {
  font-weight: 400;
  font-size: 1.313rem;
}
.sign-in-big-word {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 5.156rem;
}
.sign-in-enter-texts {
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 2.5rem;
}
